body{
  color:rgb(245, 232, 214);
}

/* INDEX - PERFIL */
.profile {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.1);
}
.carousel-item img {
  max-height: 700px;
}

.img-circle{
  border-radius: 50%;
}


/* CONTATO */

#contato{
  width: 800px;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255,255,255,0.16);
}

.formulario{
  width: 60%;
  margin: 0 auto;
  padding: 30px;

}

/* SESSÃO PROJETOS  */
.info-projetos span{
  padding: 0 40px;
  font-size: 24px;
  margin-bottom: 25px;
  opacity: .6;
}
.info-projetos span:hover{
  color: white;
  opacity: 1;
  transition: 0.5s;
}

.projetos img{
  width: 100%
}

/* FOOTER */

.footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.profile{
  margin-top: 25px;
}
